

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "employees", employees_path %></li>
        <li><%= link_to "production trackings", production_trackings_path %></li>
      </ul>
    </nav>
  </div>
</header>
